:root {
  --sl-content-width: 80rem;
  /*
  --sl-text-xs: 1.125rem;
  --sl-text-sm: 1.125rem;
  --sl-text-base: 1.125rem;
  --sl-text-lg: 1.125rem;
  --sl-text-xl: 1.25rem;
  --sl-text-2xl: 1.5rem;
  --sl-text-3xl: 1.8125rem;
  --sl-text-4xl: 2.1875rem;
  --sl-text-5xl: 2.625rem;
  --sl-text-6xl: 4rem;
  */
}
.em {
  font-size: 2em;
}
